body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.looks-box {
    width: 100%;
}

    .looks-box .share {
        -webkit-transition: 0.1s ease-out height;
        -moz-transition: 0.1s ease-out height;
        -ms-transition: 0.1s ease-out height;
        -o-transition: 0.1s ease-out height;
        transition: 0.1s ease-out height;
        clear: both;
        background: white;
        border: 2px solid #dddddd;
        margin-bottom: 10px;
        position: relative;
    }

        .looks-box .share .arrow {
            background: url(arrow.png) no-repeat #dddddd;
            position: absolute;
            width: 14px;
            height: 10px;
            left: 4px;
            display: inline;
            top: -10px;
            -webkit-transition: 0.3s ease-out all;
            -moz-transition: 0.3s ease-out all;
            -ms-transition: 0.3s ease-out all;
            -o-transition: 0.3s ease-out all;
            transition: 0.3s ease-out all;
        }

    .looks-box .post-types li a {
        color: #085083;
        text-decoration: none;
    }

        .looks-box .post-types li a.active {
            color: #404040;
        }

    .looks-box .post-types {
        padding-left: 5px;
    }

    .looks-box ul {
        list-style: none;
        margin-bottom: 9px;
    }

    .looks-box .post-types li {
        display: inline;
        margin-right: 10px;
    }

.message {
    border-radius: 0;
    border: none;
}

.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.privacy-dropdown {
    width: 100px;
}
.textBox {
    border-style: outset;
    border-radius: 3px;
    border-width: 1px;
    border-color: ButtonShadow;
    background-color: #3B5998;
    color:antiquewhite;
}
h5 {
    margin-bottom: 8px;
    /*border:thin;*/
    border:thin;
    border-width: 1px;
    border-color:antiquewhite;
    margin-left: 9px;
    font-size: 11px;   
}
h6 {
    margin-bottom: 8px;
    /*border:thin;*/
    border: thin;
    border-width: 1px;
    border-color: antiquewhite;
    margin-left: 9px;
    font-size: 11px;
}
p {
    margin-left: 9px;
}
 